body {
    background: #000;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
}

.jupiter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
}

.jupiter-text {
    width: 40%;
    max-width: 300px;
    padding: 20px;
    opacity: 0;
    animation: text-fade-in 500ms ease-in-out 500ms forwards, slide-in 500ms ease-in-out 500ms forwards;
    transform: translateY(-100%);
    transition: opacity 1s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: #fff;
    margin-left: 5px;

}

.jupiter-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 50%;
    transform-style: preserve-3d;
    animation: rotate-3d 10s linear infinite;
}

img {
    float: right;
    width: 60%; /* Image now fits the entire width of the screen */
    height: 80vh; /* Image now fits the entire height of the screen */
    object-fit: cover; /* Maintain aspect ratio and cover the entire viewport */
}

h2 {
    font-size: 2rem;
    margin-left: 20px;
}

p {
    font-size: 1rem;
    margin-left: 20px;
}

@keyframes text-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* @keyframes rotate-3d {
    0% {
        transform: rotateY(10deg);
    }
    100% {
        transform: rotateY(180deg);
    }
} */