body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mercury-info {
    display: flex;
    box-shadow: 0 0 10px rgba(130, 38, 38, 0.5);
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.mercury-image {
    background-image: url('../img/salmon_Removed.png');
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 10s linear infinite; /* Rotate continuously */
}

.mercury-image img {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.mercury-text {
    padding: 20px;
    color: #fff;
    text-align: center;
    opacity: 1;
    transform: translateY(0);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    right: 0;
    width: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}